body {
background-color: lightblue;
align-items: center;
}
.qr-code {
  background-color: white;
    color: black;
    width: 375px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.qr-code img {
  width: 150px;
  height: 150px;
}
p {
  color: lightgray;
}

h1 {
  font-family: font-family: 'Nanum Pen Script', cursive;
  font: size 15px;
  font-weight: 400;

